cglm/
.idea/
.vscode/
build/
cmake-build-debug/
TWOC/
.clang-format
.vs/

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
ninja.build
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
imgui.ini
nu2/
.cache
